
<div class="col-16">
    <div class="text-center">
        <h2>Hobby Hub!</h2>
    </div>
    <div class="d-flex">
        <partial name="RegistrationFormPartial"/>
        <partial name="LoginFormPartial"/>
    </div>
</div>
